
body {
  font-family: "Roboto", sans-serif; 
  margin: 0;
  padding: 0;
  background-color: #1d1f27; 
  color: #e1e1e6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242833; 
  padding: 10px 20px;
}

header .logo img {
  height: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #e1e1e6;
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #ff6f61; 
}

main {
  padding: 40px 20px;
}

h1 {
  font-size: 3em;
  color: #ff6f61; 
  margin-bottom: 40px;
}

.about-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.team-photo {
  width: 60%;
  height: auto;
  border-radius: 10px; 
  margin-right: 20px;
}

.text-content {
  max-width: 600px;
}

.text-content h2 {
  font-size: 2em;
  color: #ff6f61; 
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.team-section {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.team-head{
  text-align: center;
}
.team-member {
  display: inline-block;
  width: 30%;
  margin: 20px;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 1.4em;
  color: #e1e1e6; 
  margin-bottom: 10px;
}

.team-member p {
  font-size: 1em;
  color: #b3b3b7; 
}

footer {
  background-color: #242833;
  color: #e1e1e6;
  text-align: center;
  padding: 30px 0;
}

footer .social-media a {
  color: #e1e1e6;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

footer .social-media a:hover {
  color: #ff6f61; /* Підсвітка соцмереж при наведенні */
}
